.adminWrapper {
  height: 100%;

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  .logo {
    height: 32px;
    line-height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    overflow: hidden;

    img {
      width: 28px;
      vertical-align: middle;
    }

    span {
      margin-left: 15px;
      vertical-align: middle;

      &.close {
        opacity: 0;
      }
    }
  }

  .header {
    background-color: #fff;
    padding: 0;
  }

  .content {
    margin: 24px 16px 0;
    padding: 24px;
    background: #fff;
    min-height: 280px;
  }

  .copyright {
    text-align: center;
    font-size: 18px;
    color: #999;
  }
}