.adminWrapper {
  min-height: 100%;

  .content {
    margin: 24px 16px 0;
    padding: 24px;
    background: #fff;
    min-height: 500px;
  }

  .copyright {
    text-align: center;
    font-size: 18px;
    color: #999;
  }
}